@CHARSET "UTF-8";
/* CSS Criado por PV */
/* Necessário zerar os browsers */

/* CRIANDO REGRAS GLOBAIS */
body{
padding:0px; margin:0px; background:#2f383f; color:#FFF; font:10px/14px Tahoma, sans-serif;
background-image:url(../imagens/fundo.png);
background-repeat:repeat-x;
}

/*
div, p, ul, h2, h3, h4, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

 */

.menuprincipal ul{
	margin-top:8px;
	
	}

.menuprincipal li{
	display:inline;
	float:left;
	}
	
.menuprincipal li a{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bolder;
	font-size:18px;
	padding:9px 10px 2px 10px;
	text-decoration:none;
	color:#FFF;
	}

.menuprincipal li a:hover{
	color:#48ADE3;
	}	
	
#rodape{
	text-align:center;
}	


/* Necessário zerar os browsers */




.clear {clear: both; margin: 0px}
.spacer{font-size:0; line-height:10px; clear:both;}

.sobe{
	margin-top:-20px;
}